@model Fahasa.ViewModel.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@section Styles {
    <link rel="stylesheet" href="/css/form.css" />
}
<h1 class="text-center">Đăng nhập</h1>
<div class="container-fluid p-4" style="background-color: #f0f0f0">
    <form method="post">
        <div class="register container p-3">
            <div class="row number p-2">
                <label for="" class="p-0">Tên Đăng Nhập</label>
                <input type="text" class="p-0" id="signup" name="username" id="signup" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                <!-- <p class="message__signup message"></p> -->
            </div>
         
            <div class="row number p-2">
                <label for="" class="p-0">Mật Khẩu</label>
                <input type="password" class="p-0" id="password" name="password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                @* <p class="message__password message"></p> *@
            </div>
            <div class="btn--group">

                <button class="btn--signup">Đăng ký</button>
            </div>
            <div class="row dieukhoan">
                <p>
                    Bằng việc đăng ký, bạn đã đồng ý với Fahasa.com về
                    <span style="color: #2489f4"> điều khoản chính sách</span>
                    và <span style="color: #2489f4">chính sách bảo mật</span>
                </p>
            </div>
            <div class="block__suscess">
                <b class="text">Bạn đã đăng ký thành công</b>
                <div class="close--btn">
                    <i class="fa-solid fa-circle-xmark close"></i>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="/js/form.js"></script>
}
